<%- include("partials/header.ejs") %>
<% blogs.forEach(function(blog) {   %>
    <h2><%=blog.title%></h2>
    <img src="<%=blog.image%>" alt="">
    <h3><%= blog.created %></h3>
    <p><%=blog.body%></p>
<% }); %>
<%- include("partials/footer.ejs") %>